:root {
	--bg-color: #DCCCA3;
	--navbar-color: #FF6700;
	--footer-color: #824C71;
	--text-color: #000001;
	--heading-color: #4A2545;
	--accent-color: #90AA86;
	--social-links-default: #90AA86;
	--social-links-hover: #56E39F;
	--social-links-active: #89ffca;

	--font-body: 'Roboto', sans-serif;
	--font-heading: 'Montserrat', sans-serif;


}
body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font-body);

}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-heading);
	color: var(--heading-color);
	margin-bottom: 0;
	margin-top: 0;
}
