:root {
	--bg-color: #0D1B2A;
	--navbar-color: #FF6700;
	--footer-color: #0A1420;
	--text-color: #F5F5F5;
	--heading-color: #FF6700;
	--accent-color: #00A6A6;
	--social-links-default: #00A6A6;
	--social-links-hover: #56E39F;
	--social-links-active: #89ffca;

	--font-body: 'Roboto', sans-serif;
	--font-heading: 'Montserrat', sans-serif;


}
body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font-body);

}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-heading);
	color: var(--heading-color);
	margin-bottom: 0;
	margin-top: 0;
}
